pin-depends: [
  [ "gluten-async.dev" "git+https://github.com/tmcgilchrist/gluten#b611fca2e111fadc5ba989e172723ae91202d8fc" ]
  [ "gluten.dev" "git+https://github.com/tmcgilchrist/gluten#b611fca2e111fadc5ba989e172723ae91202d8fc" ]
]